<!-- board write popup -->
<div class="popup_board" style="display:none;">
  <!-- header -->
  <div class="popup_header">
    <p class="b1 bc1">게시판 글쓰기</p>
    <a href="#" class="close"></a>
  </div>

  <!-- body -->
  <div class="popup_body">
    <!-- board text -->
    <div class="popup_text">
      <p class="b1 bc1">글쓰기 란</p>
      <textarea class="b1 bc1 bd" placeholder="게시판내용(최소 10자/최대2000자)을 입력해주세요." maxlength="2000"></textarea>
    </div>

    <!-- board image -->
    <div class="popup_image">
      <p class="b1 bc1">이미지 파일첨부</p>
      <div class="popup_images">
        <img src="{{ url_for('static', filename='images/sample_review_upload_image.png') }}" />
        <button class="btn_upload_image"></button>
      </div>
    </div>
  </div>

  <!-- footer -->
  <div class="popup_footer">
    <button class="normal b1 close">취소</button>
    <button class="normal b1 post">등록</button>
  </div>
</div>
