{% extends "main.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/magazine.css') }}" />
{% endblock %}
{% block content %}
<div class="bg_wrap">
  <div class="wrap">
    <div class="padding_wrap">
      <div class="list">
        {% for item in list %}
        {% set bgcolor = 'bg_bc2' %}
        {% if loop.index % 4 == 0 %}
        {% set bgcolor = 'bg_ac3' %}
        {% elif loop.index % 4 == 1 %}
        {% set bgcolor = 'bg_ac4' %}
        {% elif loop.index % 4 == 2 %}
        {% set bgcolor = 'bg_ac2' %}
        {% endif %}
        <div class="item {{ bgcolor }}">
          <p class="h1 bc0">{{item.title}}</p>
        </div>
        {% endfor %}
      </div>
      {% with curPage=page, pageCnt=pageCnt %}
      {% include 'util/pagination.html' %}
      {% endwith %}
    </div>
  </div>
</div>
{% endblock %}
