{% extends "main.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/comp.css') }}" />
{% endblock %}
{% block content %}
<div class="bg_wrap">
  <div class="wrap">
    <div class="padding_wrap">
      <!-- title image -->
      <img src="{{ url_for('static', filename='images/comp_list_title.png') }}" class="img_title"/>

      <div class="detail_body">
        <p class="header h1 bc1">피해야할 주의성분 29가지</p>

        <!-- detail list -->
        <div class="detail_list">
          {% set l = range(0, 20) %}
          {% for value in l %}
          {% set cl = '' %}
          {% if loop.index == 1 %}
          {% set cl = 'first' %}
          {% endif %}
          <div class="detail_item {{ cl }}">
            <a href="#" class="name h2">아보벤젠</a>
            <p class="desc h2 bc1">태양광의 스펙트럼을 흡수하는 성질 때문에 자외선 차단제에 많이 쓰이는 아보벤젠은 아이러니하게도 햇빛과 만나면 활성산소가 만들어져 DNA를 손상시키고 피부암을 유발할 수 있다. 다른 이름으로는 파르솔 1789, 부틸메록시디벤조일메탄이라고 불리기도 한다.</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
