/* list content */
.content .wrap .padding_wrap {padding:0 15px;}
.padding_wrap .list {margin-bottom:91px;}
.padding_wrap .list .item {margin-bottom:30px;padding:75px;width:1020px;height:96px;}
.padding_wrap .list .item p {margin:0;}
