<!-- item pagination -->
<div class="pagination_wrap">
  <div class="pagination">
    {% set l_cl = '' %}
    {% set l_url = '%s?page=%d' % (request.path, (curPage-1)) %}
    {% if curPage == 1 %}
    {% set l_cl = 'disabled' %}
    {% set l_url = '' %}
    {% endif %}
    <a href="{{l_url}}" class="left {{l_cl}}"></a>

    {% set p = range(1, pageCnt+1) %}
    {% for index in p %}
    {% set cl = 'bc3' %}
    {% set c_url = '%s?page=%d' % (request.path, index) %}
    {% if index == curPage %}
    {% set cl = 'ac2' %}
    {% set c_url = '' %}
    {% endif %}
    <a href="{{c_url}}" class="num b1 {{cl}}">{{index}}</a>
    {% endfor %}

    {% set r_cl = '' %}
    {% set r_url = '%s?page=%d' % (request.path, (curPage+1)) %}
    {% if curPage == pageCnt %}
    {% set r_cl = 'disabled' %}
    {% set r_url = '' %}
    {% endif %}
    <a href="{{r_url}}" class="right {{r_cl}}"></a>
  </div>
</div>
